h1 {
    color: var(--cor--das--letras);
    font-size: 45px;
}

.header {
    display: flex;
    margin: 100px 0 0 0;
}

.header__txt {
    width: 250px;
}

.txt__p {
   margin: 20px 0;
}

.txt__highlight {
    color: var(--highlight-color);
}

.header__img {
    width: 400px;
}