main {
    margin: 50px 150px 40px 150px;
}

.main__fields {
    display: flex;
    justify-content: space-around;
    margin: 50px 0 0 0;
}

.fields__li {
    text-align: center;
}

.input__fields {
    width: 80px;
    border-radius: 25px;
    display: block;
    margin: 15px 0;
}

/* .label__average--price {
    margin:0 50px;
} */

.btn__submit {
    text-align: center;
    margin: 0 auto;
}
