@import url("/css/reset.css");
@import url("/css/header.css");
@import url("/css/main.css");
@import url("/css/result.css");

:root{
    --font-primary: 'Jost', sans-serif;
    --font-optical-sizing: auto;
    --font-weight-normal: 500; 
    --font-style-normal: normal;

    --background:#CCCCCC;
    --letter-color:#0C4A58;
    --highlight-color:#F24B29;
}

body {
    background-color: var(--background);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 150px;
}

p , .txt {
    font-size: 25px;
    font-family: var(--font-primary);
    font-optical-sizing: var(--font-optical-sizing);
    font-weight:var(--font-weight-normal);
    font-style: var(--font-style-normal);

}

